<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<main class="all-lines">
    <h2>All Lines</h2>
    <ul id="list-lines">
        {{#each data}}
        <li class="line-name" onclick="toggleList('{{this._id}}')">{{this.lineName}} Line</li>
        <li>
        <ul style="display:none;" id="{{this._id}}" class="list-members">
            {{#each this.members}}
            <li class="member-name"><a href="/users/profile/{{this.userName}}">{{this.firstName}} {{this.lastName}}</a>
            </li>
            {{/each}}
        </ul>
        </li>
        {{/each}}
    </ul>
    <h2>Or, search for a member of FAST:</h2>
    <form id="searchForm">
        <div class="form-wrapper">
            <label for="searchType">Search by:</label>
            <select id="searchType" name="searchType">
                <option disabled selected value> -- select an option -- </option>
                <option value="first-name">First Name</option>
                <option value="class">Graduating Class</option>
                <option value="major">Major</option>
            </select>
            <label for="searchValue">Value: </label>
            <input type="text" name="searchValue" id="searchValue">
            <button id="search" type="submit" value="Search">Search</button>
        </div>
        <div id="myErrors"></div>
    </form>
    <div id="results-wrapper">
        <ul id="memberList"></ul>
        <ul id="showMembers"></ul>
    </div>
</main>

<script src="../public/js/button.js"></script>
<script src="../public/js/search.js"></script>