<main class="hangouts">
    <h1>HANGOUTS!!!!!!!!!!!!!!!!!!</h1>
    {{#if hangout}}
    <ul id="eventsList">
        <div class="hangout-item">
            {{#each hangout}}
            <div id="eventTitle" onclick="toggleAnswer({{hangout.eventTitle}})"></div>
            <div id="eventDetails">
                <button id="create" type="submit" value="create" hidden>Create Event</button>
                <ul>
                    <li>Event Description: {{hangout.eventDescription}}</li>
                    <li>Event Location: {{hangout.eventLocation}}</li>
                    <li>Start Time: {{hangout.startTime}}</li>
                    <li>End Time: {{hangout.endTime}}</li>
                    <li>Event Date: {{hangout.eventDate}}</li>
                </ul>
                <button id="accept" type="submit" value="accept">Accept</button>
                <button id="decline" type="submit" value="decline">Decline</button>
                <button id="edit" type="submit" value="edit" hidden>Edit</button>
            </div>
            {{/each}}
        </div>
    </ul>
    {{#else}}
    <p>No Hangouts found!</p>
    {{/else}}
    <a href="/myline">Go back to line!</a>

</main>