<main class="hangouts">
    <h1>HANGOUTS!!!!!!!!!!!!!!!!!!</h1>
    <form action="/lines/myline/hangouts" method="POST">
        <button id="create" type="submit" name="action" value="create">Create Event</button>
    </form>
    {{#if hangout}}
    <ul id="eventsList">
        <div class="hangout-item">
            {{#each hangout}}
            <div id="eventTitle" onclick="toggleAnswer(`{{this._id}}`)">{{this.eventName}}</div>
            <div id="eventDetails" class="eventDetails">
                <ul>
                    <li>Event Description: {{this.description}}</li>
                    <li>Event Location: {{this.eventLocation.streetAddress}}, {{this.eventLocation.city}},
                        {{this.eventLocation.state}} {{this.eventLocation.zip}}</li>
                    <li>Start Time: {{this.startTime}}</li>
                    <li>End Time: {{this.endTime}}</li>
                    <li>Event Date: {{this.eventDate}}</li>
                    {{!-- <li>Attendees: {{this.attendees}}</li> --}}
                    <li>Total Attendees: {{this.totalAttendees}}</li>
                </ul>
                <form action="/lines/myline/hangouts" method="POST">
                    <input type="text" id="eventName" name="eventNameInput" value="{{this.eventName}}" hidden>
                    <button id="accept" type="submit" name="action" value="accept">Accept</button>
                    <button id="edit" type="submit" name="action" value="delete">Delete (LineHead only)</button>
                </form>
            </div>
            {{/each}}
        </div>
    </ul>
    {{/if}}
    {{#else}}
    <p>No Hangouts found!</p>
    {{/else}}

    <a href="/lines/myline">Go back to line!</a>

</main>
<script src="../../public/js/button.js"></script>