<main class="hangouts">
    <h1>HANGOUTS!!!!!!!!!!!!!!!!!!</h1>
    {{#if hangout}}
    <ul id="eventsList">
        <div class="hangout-item">
            {{#each hangout}}
            <div id="eventTitle" onclick="toggleAnswer(`{{this._id}}`)">{{this.eventName}}</div>
            <div id="eventDetails" class="eventDetails">
                <button id="create" type="submit" value="create" hidden>Create Event</button>
                <ul>
                    <li>Event Description: {{this.description}}</li>
                    <li>Event Location: {{this.eventLocation.streetAddress}}, {{this.eventLocation.city}},
                        {{this.eventLocation.state}} {{this.eventLocation.zip}}</li>
                    <li>Start Time: {{this.startTime}}</li>
                    <li>End Time: {{this.endTime}}</li>
                    <li>Event Date: {{this.eventDate}}</li>
                    <li>Attendees: {{this.attendees}}</li>
                </ul>
                <form action="/lines/myline/hangouts" method="POST">
                    <button id="accept" type="submit" name="action" value="accept">Accept</button>
                    <button id="decline" type="submit" name="action" value="decline">Decline</button>
                    {{#if linehead}}
                    <button id="edit" type="submit" name="action" value="edit">Edit</button>
                    {{/if}}
                </form>
            </div>
            {{/each}}
        </div>
    </ul>
    {{/if}}
    {{#else}}
    <p>No Hangouts found!</p>
    {{/else}}

    <a href="/myline">Go back to line!</a>

</main>
<script src="../../public/js/button.js"></script>