<main class="my-line">
    <link rel="stylesheet" href="../../public/css/tree.css" />
    <h1>{{user.line}}</h1>
    <div id="tree">
        {{#if grandbig}}
        <ul>
            <li>
                {{!-- Grandbig --}}
                <a href="/users/profile/{{grandbig.userName}}">{{grandbig.firstName}} {{grandbig.lastName}}</a>
                {{/if}}
                {{#if big}}
                <ul>
                    <li>
                        {{!-- Big --}}
                        <a href="/users/profile/{{big.userName}}">{{big.firstName}} {{big.lastName}}</a>
                        {{/if}}
                        {{#if big.littles.length}}
                        <ul>
                            {{#each big.littles}}
                            <li>
                                {{!-- Siblings --}}
                                <a href="/users/profile/{{this.userName}}">{{this.firstName}} {{this.lastName}}</a>
                                {{#if this.littles.length}}
                                <ul>
                                    {{#each this.littles}}
                                    <li>
                                        {{!-- Littles --}}
                                        <a href="/users/profile/{{this.userName}}">{{this.firstName}} {{this.lastName}}</a>
                                        {{#if this.littles.length}}
                                        <ul>
                                            {{#each this.littles}}
                                            <li>
                                                {{!-- Grandlittles --}}
                                                <a href="/users/profile/{{this.userName}}">{{this.firstName}} {{this.lastName}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        {{/if}}
                                    </li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <ul>
                            <li>
                                {{!-- Me with no big --}}
                                <a href="/users/profile/{{user.userName}}">{{user.firstName}} {{user.lastName}}</a>
                                {{#if user.littles.length}}
                                <ul>
                                    {{#each user.littles}}
                                    <li>
                                        {{!-- Littles --}}
                                        <a href="/users/profile/{{this.userName}}">{{this.firstName}} {{this.lastName}}</a>
                                        {{#if this.littles.length}}
                                        <ul>
                                            {{#each this.littles}}
                                            <li>
                                                {{!-- Grandlittles --}}
                                                <a href="/users/profile/{{this.userName}}">{{this.firstName}} {{this.lastName}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        {{/if}}
                                    </li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                        </ul>
                        {{/if}}
                        {{#if big}}
                    </li>
                </ul>
                {{/if}}
                {{#if grandbig}}
            </li>
        </ul>
        {{/if}}
    </div>
</main>

<p><a href="/lines/myline/messages">Message Board</a></p>