<link rel="stylesheet" href="../../public/css/profile.css">
{{#if user.profilePicture}}
<img src={{user.profilePicture}}  onError="this.onerror=null;this.src='../../public/images/no_profile_image.png'" style="width:200px; height: 200px;border-radius: 50%;" alt="{{user.userName}} profile picture">
{{else}}
<img src="../../public/images/no_profile_image.png" style="width:200px; height: 200px;border-radius: 50%;" alt="profilePicture">
{{/if}}


<main class="profile">
    <h2>{{user.firstName}} {{user.lastName}}</h2>

    <h3>Username:</h3>
    <p> {{user.userName}} </p>

    <h4>Line:</h4>
    <p>{{user.line}}</p>

    {{#if user.userBio}}
    <h4>Bio:</h4>
    <p>{{user.userBio}}</p>
    {{/if}}

    {{#if user.major}}
    <h4>Major:</h4>
    <p>{{user.major}}</p>
    {{/if}}

    {{#if user.gradYear}}
    <h4>Graduating Class:</h4>
    <p>{{user.gradYear}}</p>
    {{/if}}

    {{#if big}}
    <h5>Big:</h5>
    <p>{{big.firstName}} {{big.lastName}}</p>
    {{/if}}

    {{#if user.littles.length}}
    <h5>Littles:</h5>
    <ul>
        {{#each user.littles}}
        <li>{{this.firstName}} {{this.lastName}}</li>
        {{/each}}
    </ul>
    {{/if}}

    {{#if socials}}
    <h5>Socials:</h5>
    {{/if}}

    <ul>
    {{#if user.links.facebook}}
        <li>
            <a href="{{user.links.facebook}}" target="_blank">Facebook</a>
        </li>
    {{/if}}

    {{#if user.links.instagram}}
        <li>
            <a href="{{user.links.instagram}}" target="_blank">Instagram</a>
        </li>
    {{/if}}
    </ul>

    {{#if user.links.spotify}}
        <iframe style="border-radius:12px; width: 100%; border: 0; height:92px;" src="https://open.spotify.com/embed/{{type}}/{{id}}?utm_source=generator" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" id="spotify"></iframe>
    {{/if}}

    {{!-- some logic here that is basically like
    if usersession.little.contains(user.userName) then they're ur big
    if user.little.contains(usersession.userName) they're ur little
    --}}
    {{!--
    <script src="../public/js/main.js"></script> --}}

    {{#if me}}
    <hr class="separator-line">

    <div class="user-nav-wrapper">
        <p><a href="/users/edit-profile">Edit Profile</a></p>
        <p><a href="/lines/myline/biglittle">Add Littles</a></p>
        <p><a href="/users/logout">Log out</a></p>
    </div>
    {{/if}}
</main>