<main>
  <h1>Members Found</h1>
  <a href="/all">Search for Another Member</a>
  <h2>Results for: {{search}}</h2>
  {{#if member}}
    <ol>
      {{#each member}}
        <li><a href="/profile/{{this.userName}}">{{this.firstName this.lastName}}</a></li>
      {{/each}}
    </ol>
  {{else}}
    <p class="not-found">We're sorry, but no results were found for {{search}}.</p>
  {{/if}}
</main>